@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  
  
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 15px;
  
}

.formulario {
  background:rgba(0,0,0,0.6);
  
-webkit-box-shadow: 13px 15px 5px -9px rgba(10,9,10,0.49);
-moz-box-shadow: 13px 15px 5px -9px rgba(10,9,10,0.49);
box-shadow: 13px 15px 5px -9px rgba(10,9,10,0.49);
}

h1 {
  text-align: center;
  color: greenyellow;
  font-size: 40px;
  

}



input {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
  background: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.container__input {
  margin-bottom: 15px;
  /*border-radius: 5px;*/
  color: none;
  border-bottom: 1px solid white;
}

.fas {
  min-width: 50px;
  text-align: center;
  color: white;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #2c374c;
  border-radius: 5px;
}

.button:hover {
  background:rgb(8, 23, 243);
}

p {
  text-align: center;
  font-weight: 300;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.link:hover {
  color:greenyellow;
}

@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
